@tailwind base;
@tailwind components;
@tailwind utilities;
.dashboard{
    height: 93.953vh;
}

.pillar {
    scrollbar-width: thin;
}

.modalCtrl {
    display: none;
}

/*TODO: Remove as this is just a temporary fix.*/
.form-wrapper-center{
    top: 250px;
    left: 450px;
}

html,
body{
    min-width: 100%;
    background-color: #4a5568;
    scrollbar-width: thin;
}
